.dynamic-list-item {
    position: relative;
}

.dynamic-list-item .remove-item-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    background: transparent;
    color: #aaa;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    font-size: 1.4em;
    padding: 0;
    transition: opacity 0.2s;
    opacity: 0;
    z-index: 2;
}

.dynamic-list-item:hover .remove-item-btn {
    opacity: 1;
}

.dynamic-list-item .remove-item-btn:hover {
    color: #000;
    background: #f0f0f0;
}
